<div class="form">
  <div class="tab-content">
    <h1>Log in</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(:session, url: login_path) do |f| %>
              <%= render 'layouts/flash' %>
                <div class="top-row">
                  <center><div class="field-wrap">
                    <label>
                      User Name<span class="req">*</span>
                    </label>
                    <%= f.text_field :name, autocomplete:"off"%>
                  </div></center>
                </div>
                <div class="top-row">
                  <center><div class="field-wrap">
                    <label>
                      Password<span class="req">*</span>
                    </label>
                    <%= f.password_field :password, autocomplete:"off"%>
                  </div></center>
                </div>
                <button class="button button-block"><%= f.submit "Log in" ,style:"border:solid white 0px" %></button>
            <% end %>
        </div>
    </div>
  </div>
</div>
