<%= render 'layouts/flash' %>
<h1 style="font-family:Montserrat"><%= @article.pershkrimi %> - Njesia: <%= @article.njesia %></h1>
<h2><%= @article.pershkrimi_gjate %></h2>
<h1><%= @article.lloji_akcizes %></h1>

<br>
<p>Tarif Kodi: <%= @article.tarif_kodi %></p>

<%= @article.autorizims.first %>

<%= link_to "Back", articles_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_article_path(@article), class:"btn btn-primary" %>