<div class="row" style="width:100%">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/flash' %>
    <%= nested_form_for(@normative)do |f|%>
      <%= f.fields_for :normative_articles do |na| %>
        <%= render 'shared/error_messages', object: na.object %>
        <% unless na.object.persisted? %>
          <center><table>
            <tr>
              <div style="display: inline">
                <td width="180px">
                  <div style="text-align:center">
                    <%= na.select("article_id", Article.all.collect {|p| ["(#{p.kodi}) #{p.pershkrimi} - #{p.njesia}", p.id]}, { prompt: "Select Article", multiple: false }, id: "article_select") %>
                  </div>
                </td>
                <td width="225px">
                  <%= na.label :sasia %>
                  <%= na.number_field :sasia, step: :any %>
                  
                </td>
                <td>
                  <%= na.grouped_collection_select(:pesha_qmimi, Article.order(:pershkrimi), :import_articles, :pershkrimi_njesia, :grupi, :show_text,
                                                                        { include_blank: "Select Pesha", multiple: false}, :id => "pesha_select") %>
                                                                            
                </td>
                <td width="225px">
                  <%= na.label :mbetja, "Mbetja Sasise" %>
                  <%= na.number_field :mbetja, step: :any %>
                  
                </td>
                <td>
                  <%= na.label :mbetja_peshe, "Mbetja Peshes" %>
                  <%= na.number_field :mbetja_peshe, step: :any %>
                </td>
              </div>
            </tr>
          </table></center>
        <% end %>
      <% end %>
      <div class="buttons">
        <% if Article.count != 0 %>
          <%= f.submit "Add Article", class: "btn btn-primary", name: "normative_article_add" %>
        <% end %>
        <%= link_to "Back", normatives_path, class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
  
</div>