
<h1>Normativa: <%= @normative.nr_normatives %> - <%= @normative.product.pershkrimi %> - <%= @normative.kategoria %></h1>

<% if @normative.kategoria == "auto" %>
  <%= render 'auto' %>
<% elsif @normative.kategoria == "manual" %>
  <%= render 'manual' %>
<% elsif @normative.kategoria == "test" %>
  <%= render 'manual' %>
<% end %>
<h1>Numri i Artikujve:<%= @normative.articles.count %></h1>
<center><table width="50%" border="solid #333 1px">
  <tr>
    <td>
      <%= "Tarif Kodi" %>
    </td>
    <td>
      <%= "Kodi Artikullit" %>
    </td>
    <td>
      <%= "Pershkrimi" %>
    </td>
    <td>
      <%= "Njesia" %>
    </td>
    <td>
      <%= "Sasia Bruto" %>
    </td>
    <td>
      <%= "Mbetja Sasise" %>
    </td>
    <td>
      <%= "Mbetja Ne Sasi" %>
    </td>
    <td>
      <%= "Sasi Neto" %>
    </td>
    <td>
      <%= "Pesha Bruto" %>
    </td>
    <td>
      <%= "Mbetja Peshes" %>
    </td>
    <td>
      <%= "Mbetja Ne Peshe" %>
    </td>
    <td>
      <%= "Pesha Neto" %>
    </td>
  </tr>
  <% @normative.normative_articles.each do |na| %>
  
    <% n = na.normative %>
    <% a = na.article %>
    <% if na.valid? %>
      <tr>
        
        
        <td>
          <%= na.article.tarif_kodi %>
        </td>
        <td>
          <%= na.article.kodi %>
        </td>
        <td>
          <%= na.article.pershkrimi %>
        </td>
        <td>
          <%= na.njesia %>
        </td>
         
        <td>
          <%= na.sasia %>
        </td>
        <td>
          <%= na.mbetja %> %
        </td>
        <td>
          <%= na.mbetja_ne_sasi %>
        </td>
        
        <td>
          <%= na.sasia_neto %>
        </td>
        <td>
          <%= na.pesha_bruto %> Kg
        </td>
        <td>
          <%= na.mbetja_peshe %> %
        </td>
        <td>
          <%= na.mbetja_ne_peshe %> Kg
        </td>
        <td>
          <%= na.pesha_neto %> Kg
        </td>
        <td style="text-align:center;">
          <%= link_to na, method: :delete do %>
            <span>&#x2715;</span>
          <% end %>
        </td>
      </tr>
      
    <% end %>
  <% end %>
  <tr>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      
    </td>
    <td>
      <%= @normative.normative_articles.sum(:sasia) %>
    </td>
    <td>
      
    </td>
    <td>
      <%= @mbetja_ne_sasi %>
    </td>
    <td>
      <%= @sasia_neto %>
    </td>
    <td>
      <%= @normative.normative_articles.sum(:pesha_bruto) %>
    </td>
    <td>
      
    </td>
    <td>
      <%= @mbetja_ne_peshe %>
    </td>
    <td>
      <%= @pesha_neto %>
    </td>
    
  </tr>
</table></center>
<p>Shuma Neto (me paketim):<%= @pesha_b.round(2) %></p>
<p>Pesha Neto (Pa paketim):<%= @pesha_n.round(2) %></p>
<%= link_to 'Produkti', @normative.product, class:"btn btn-primary" %>
<%= link_to 'Home', normatives_path, class:"btn btn-primary" %>
<%= link_to 'Edit', edit_normative_path, class:"btn btn-primary" %>
<%= link_to 'Files', normative_files_path(@normative), class:"btn btn-primary" %>
<%= link_to "PDF", asset_path("normatives/#{@normative.id}.pdf", skip_pipeline: true), class: "btn btn-primary", id: "pdf-fatura", target: "_blank" %>