<div><%= render "layouts/flash" %></div>
<h1><strong>Identifikimi:</strong> <%= @garancion.identifikimi %></h1>
<p><strong>Data leshimit:</strong> <%= @garancion.data %></p>
<p><strong>Data skadimit:</strong> <%= @garancion.data_skadimit %></p>
<p><strong>Pershkrimi:</strong> <%= @garancion.pershkrimi %></p>
<p><strong>Vlera:</strong> <%= @garancion.vlera %> €</p>
