<%= render 'layouts/flash' %>
<center><h1 style="font-family: Barlow; margin-top: 30px">Autorizimi i kompanisë: <%= kompania.kompania %></h1></center>
<br>

<center>
  <table class="tabela-import">
    <tr>
      <td>
        <div>
          <strong>Shteti</strong>
        </div>
      </td>
      <td>
        <div>
          <strong>Qyteti</strong>
        </div>
      </td>
      <td>
        <div>
          <strong>Adresa</strong>
        </div>WWWW
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <%= @autorizim.shteti %>
        </div>
      </td>
      <td>
        <div>
          <%= @autorizim.qyteti %> 
        </div>
      </td>
      <td>
        <div>
          <%= @autorizim.adresa %>
        </div>
      </td>
    </tr>
    <tr style="height: 40px">
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>
      <div>
          <strong>Data e Lëshimit</strong>
      </div> 
      </td>
      <td>
      </td>
      <td>
        <div>
          <strong>Data e Skadimit</strong>
        </div>
      </td>
    </tr>
    <tr>
      <td>
      <div>
          <%= @autorizim.data_leshimit %>
      </div> 
      </td>
      <td>
        <center>
          <table>
            <tr>
              <td style="border-right: 1px solid black; width: 50px">
                <%= link_to edit_autorizim_path do %> <span class="glyphicon glyphicon-pencil" style="color: black; font-size: 18px"></span><% end %>
              </td>
              <td style="width:50px">
                <%= link_to autorizim_files_path(@autorizim) do %> <span class="glyphicon glyphicon-folder-open" style="color: black; font-size: 18px"></span><% end %>
              </td>
            </tr>
          </table>
        </center>
      </td>
      <td>
        <div>
          <%= @autorizim.data_skadimit %>
        </div>
      </td>
    </tr>
  </table>
</center>

<div style="margin-top:25px"><%= render 'shared/error_messages' %></div>
<div class="row" style="width:100%; display: inline-block">
  <row>
    <div class="col-md-6 col-md-offset-3">
      <%= nested_form_for(@autorizim)do |f|%>
        <div class="modal fade" id="exampleModalart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><strong>Shto artikull të ri</strong></h4>
              </div>
              <%= f.fields_for :autorizim_articles do |na| %>
                <% unless na.object.persisted? %>
                  <div class="modal-body">
              
                    <center>
                      <%= na.select("article_id", Article.all.select { |a| a.autorizims.first != Autorizim.first }.collect {|p| ["#{p.pershkrimi}", p.id]}, { prompt: "Select Article", multiple: false }) %>
                      <%= na.label :max %>
                      <%= na.number_field :max %>
                    </center>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Mbylle</button>
                    <%= f.submit "Shto", class: "btn btn-primary" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= nested_form_for(@autorizim)do |f|%>
        <div class="modal fade" id="exampleModalprod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><strong>Shto produkt të re</strong></h4>
              </div>
              <%= f.fields_for :autorizim_products do |na| %>
                <% unless na.object.persisted? %>
                  <div class="modal-body">
              
                    <center>
                      <%= na.select("product_id", Product.all.select { |a| a.autorizims.first != Autorizim.first }.collect {|p| ["#{p.pershkrimi_plote}", p.id]}, { prompt: "Selekto Produktin", multiple: false }) %>
                    </center>
              
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Mbylle</button>
                    <%= f.submit "Shto", class: "btn btn-primary" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </row>
</div>
<center>
  <table style="width: 1400px">
    <tr>
      <td style="vertical-align: top">
        <center>
          <div class="fatura-tabela" style="max-width: 600px">
            <table>
              <tr class="hedi">
                <td colspan="2" style="width: 50px"><center><button type="button" data-toggle="modal" data-target="#exampleModalart" style="border: 0px; background: none; font-size: 35px; font-weight: 100; color: green; margin-bottom: 5px">&#43;</button></center></td>
                <td style="width:100px"><center>Pershkrimi</center></td>
                <td style="width:100px"><center>Tarif Kodi</center></td>
                <td style="width:50px"><center>Perqindja Max</center></td>
                <td style="width:100px"><center><span>&#x2715;</span></center></td>
              </tr>
              <% iter = 0 %>
              <% @autorizim.autorizim_articles.each do |aa| %>
                <% a = aa.article %>
                <% if aa.persisted? %>
                  <% if iter.even? %>
                    <tr style="background: #dee2e6">  
                  <% else %>
                    <tr style="background: white"> 
                  <% end %>
                    <td style="width:100px" colspan="2"><center><%= iter+=1 %></center></td>
                    <td style="width:100px"><center><%= a.pershkrimi %></center></td>
                    <td style="width:100px"><center><%= a.tarif_kodi %></center></td>
                    <td style="width:75px"><center><%= aa.max %></center></td>
                    <td style="width:100px"><center>
                      <%= link_to aa, method: :delete do %>
                        <span>&#x2715;</span>
                      <% end %>
                    </center></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </center>
      </td>
      <td style="vertical-align: top">
        <center>
          <div class="fatura-tabela" style="max-width: 600px">
            <table>
              <tr class="hedi">
                <td colspan="2" style="width: 50px"><center><button type="button" data-toggle="modal" data-target="#exampleModalprod" style="border: 0px; background: none; font-size: 35px; font-weight: 100; color: green; margin-bottom: 5px">&#43;</button></center></td>
                <td style="width:100px"><center>Pershkrimi</center></td>
                <td style="width:100px"><center>Kodi Produktit</center></td>
                <td style="width:100px"><center>Tarif Kodi</center></td>
                <td style="width:100px"><center><span>&#x2715;</span></center></td>
              </tr>
              <% iter = 0 %>
              <% @autorizim.autorizim_products.each do |aa| %>
                <% a = aa.product %>
                <% if aa.persisted? %>
                  <% if iter.even? %>
                    <tr style="background: #dee2e6">  
                  <% else %>
                    <tr style="background: white"> 
                  <% end %>
                    <td style="width:100px" colspan="2"><center><%= iter+=1 %></center></td>
                    <td style="width:100px"><center><%= a.pershkrimi %></center></td>
                    <td style="width:100px"><center><%= a.articlenr %></center></td>
                    <td style="width:100px"><center><%= a.tarif_kodi %></center></td>
                    <td style="width:100px"><center>
                      <%= link_to aa, method: :delete do %>
                        <span>&#x2715;</span>
                      <% end %>
                    </center></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </center>
      </td>
    </tr>
  </table>
</center>
<div style="float:right;margin-right:5px"><%= @taksa %></div>
<style>
  .tabela-import td{
    width: 350px;
    text-align: center;
  }
</style>
<div>
  
</div>