<%= render 'layouts/flash' %>
<h1><%= @autorizim.id %></h1>

<br>
<p><strong>Data Leshimit:</strong> <%= @autorizim.data_leshimit %></p>
<p><strong>Data Skadimit:</strong> <%= @autorizim.data_skadimit %></p>
<p><strong>Shteti:</strong> <%= @autorizim.shteti %></p>
<p><strong>Qyteti:</strong> <%= @autorizim.qyteti %></p>
<p><strong>Adresa:</strong> <%= @autorizim.adresa %></p>

<div class="row" style="width:100%; display: inline-block">
  <row>
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@autorizim)do |f|%>
        <%= f.fields_for :autorizim_articles do |na| %>
          <%= render 'shared/error_messages', object: na.object %>
          <% unless na.object.persisted? %>
            <center>
              <%= na.select("article_id", Article.all.select { |a| a.autorizims.first != Autorizim.first }.collect {|p| ["#{p.pershkrimi}", p.id]}, { prompt: "Select Article", multiple: false }) %>
              <%= na.label :max %>
              <%= na.number_field :max %>
              <%= f.submit "Add Article", class: "btn btn-primary" %>
            </center>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@autorizim) do |f|%>
        <%= f.fields_for :autorizim_products do |na| %>
          <%= render 'shared/error_messages', object: na.object %>
          <% unless na.object.persisted? %>
            <center>
              <%= na.select("product_id", Product.all.select { |a| a.autorizims.first != Autorizim.first }.collect {|p| ["#{p.pershkrimi}", p.id]}, { prompt: "Select Product", multiple: false }) %>
              <%= f.submit "Add Product", class: "btn btn-primary" %>
            </center>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </row>
</div>

<div class="col-md-6 col-md-offset-3">
  <h1>Numri i Artikujve:<%= @autorizim.articles.count %></h1>
  <center><table border="solid #333 1px">
    <tr>
      <td>
        <%= "Pershkrimi" %>
      </td>
      <td>
        <%= "Tarif Kodi" %>
      </td>
      <td>
        Max
      </td>
    </tr>
    <% @autorizim.autorizim_articles.each do |na| %>
    
      <% n = na.autorizim %>
      <% a = na.article %>
      <% if na.valid? %>
        <tr>
          <td>
            <%= a.pershkrimi %>
          </td>
          <td>
            <%= a.tarif_kodi %>
          </td>
          <td>
            <%= na.max %>
          </td>
          <td style="text-align:center;">
            <%= link_to na, method: :delete do %>
              <span>&#x2715;</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table></center>
</div>
<div class="col-md-6 col-md-offset-3">
  <h1>Numri i Produkteve:<%= @autorizim.products.count %></h1>
  <center><table border="solid #333 1px">
    <tr>
      <td>
        <%= "Pershkrimi" %>
      </td>
      <td>
        <%= "Tarif Kodi" %>
      </td>
    </tr>
    <% @autorizim.autorizim_products.each do |na| %>
    
      <% n = na.autorizim %>
      <% a = na.product %>
      <% if na.valid? %>
        <tr>
          <td>
            <%= a.pershkrimi %>
          </td>
          <td>
            <%= a.tarif_kodi %>
          </td>
          <td style="text-align:center;">
            <%= link_to na, method: :delete do %>
              <span>&#x2715;</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table></center>
</div>
<div>
  <%= link_to "Edit", edit_autorizim_path, class: "btn btn-primary" %>
  <%= link_to 'Files', autorizim_files_path(@autorizim), class:"btn btn-primary" %>
</div>