<%= render 'layouts/flash' %>
<h1><%= @autorizim.id %></h1>

<br>
<p><strong>Data Leshimit:</strong> <%= @autorizim.data_leshimit %></p>
<p><strong>Data Skadimit:</strong> <%= @autorizim.data_skadimit %></p>
<p><strong>Shteti:</strong> <%= @autorizim.shteti %></p>
<p><strong>Qyteti:</strong> <%= @autorizim.qyteti %></p>
<p><strong>Adresa:</strong> <%= @autorizim.adresa %></p>

<div class="row" style="width:100%; display: inline-block">
  <row>
    <div class="col-md-6 col-md-offset-3">
      <%= nested_form_for(@autorizim)do |f|%>
        <div class="modal fade" id="exampleModalart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><strong>Shto artikull të ri</strong></h4>
              </div>
              <%= f.fields_for :autorizim_articles do |na| %>
                <%= render 'shared/error_messages', object: na.object %>
                <% unless na.object.persisted? %>
                  <div class="modal-body">
              
                    <center>
                      <%= na.select("article_id", Article.all.select { |a| a.autorizims.first != Autorizim.first }.collect {|p| ["#{p.pershkrimi}", p.id]}, { prompt: "Select Article", multiple: false }) %>
                      <%= na.label :max %>
                      <%= na.number_field :max %>
                    </center>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Mbylle</button>
                    <%= f.submit "Shto", class: "btn btn-primary" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= nested_form_for(@autorizim)do |f|%>
        <div class="modal fade" id="exampleModalprod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><strong>Shto produkt të re</strong></h4>
              </div>
              <%= f.fields_for :autorizim_products do |na| %>
                <%= render 'shared/error_messages', object: na.object %>
                <% unless na.object.persisted? %>
                  <div class="modal-body">
              
                    <center>
                      <%= na.select("product_id", Product.all.select { |a| a.autorizims.first != Autorizim.first }.collect {|p| ["#{p.pershkrimi}", p.id]}, { prompt: "Selekto Produktin", multiple: false }) %>
                    </center>
              
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Mbylle</button>
                    <%= f.submit "Shto", class: "btn btn-primary" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </row>
</div>
<center>
  <div class="fatura-tabela">
    <table>
      <tr class="hedi">
        <td colspan="2" style="width: 50px"><center><button type="button" data-toggle="modal" data-target="#exampleModalart" style="border: 0px; background: none; font-size: 35px; font-weight: 100; color: green; margin-bottom: 5px">&#43;</button></center></td>
        <td style="width:100px"><center>Pershkrimi</center></td>
        <td style="width:100px"><center>Tarif Kodi</center></td>
        <td style="width:50px"><center>Perqindja Max</center></td>
        <td style="width:100px"><center><span>&#x2715;</span></center></td>
      </tr>
      <% iter = 0 %>
      <% @autorizim.autorizim_articles.each do |aa| %>
        <% a = aa.article %>
        <% if aa.persisted? %>
          <% if iter.even? %>
            <tr style="background: #dee2e6">  
          <% else %>
            <tr style="background: white"> 
          <% end %>
            <td style="width:100px" colspan="2"><center><%= iter+=1 %></center></td>
            <td style="width:100px"><center><%= a.pershkrimi %></center></td>
            <td style="width:100px"><center><%= a.tarif_kodi %></center></td>
            <td style="width:75px"><center><%= aa.max %></center></td>
            <td style="width:100px"><center>
              <%= link_to aa, method: :delete do %>
                <span>&#x2715;</span>
              <% end %>
            </center></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</center>
<center>
  <div class="fatura-tabela">
    <table>
      <tr class="hedi">
        <td colspan="2" style="width: 50px"><center><button type="button" data-toggle="modal" data-target="#exampleModalprod" style="border: 0px; background: none; font-size: 35px; font-weight: 100; color: green; margin-bottom: 5px">&#43;</button></center></td>
        <td style="width:100px"><center>Pershkrimi</center></td>
        <td style="width:100px"><center>Tarif Kodi</center></td>
        <td style="width:100px"><center><span>&#x2715;</span></center></td>
      </tr>
      <% iter = 0 %>
      <% @autorizim.autorizim_products.each do |aa| %>
        <% a = aa.product %>
        <% if aa.persisted? %>
          <% if iter.even? %>
            <tr style="background: #dee2e6">  
          <% else %>
            <tr style="background: white"> 
          <% end %>
            <td style="width:100px" colspan="2"><center><%= iter+=1 %></center></td>
            <td style="width:100px"><center><%= a.pershkrimi %></center></td>
            <td style="width:100px"><center><%= a.tarif_kodi %></center></td>
            <td style="width:100px"><center>
              <%= link_to aa, method: :delete do %>
                <span>&#x2715;</span>
              <% end %>
            </center></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</center>
<div style="float:right;margin-right:5px"><%= @taksa %></div>
<style>
  .tabela-import td{
    width: 350px;
    text-align: center;
  }
</style>
<div>
  <%= link_to "Edit", edit_autorizim_path, class: "btn btn-primary" %>
  <%= link_to 'Files', autorizim_files_path(@autorizim), class:"btn btn-primary" %>
</div>