<center><h1 style="font-family: Barlow; margin-top: 30px">Lista e Përdoruesve</h1></center>
<div><%= render "layouts/flash" %></div>
<%= render 'shared/error_messages' %>
<center>
  <div class="fatura-tabela">
      
      <table>
        <tr class="hedi">
          <td style="min-width:75px;"><center><button type="button" data-toggle="modal" data-target="#exampleModal" style="border: 0px; background: none; font-size: 30px; color: green;">&#43;</button></center></td>
          <td style="min-width:75px"><center>Perdoruesi</center></td>
          <td colspan="4"><center></center></td>
        </tr>
        <% iter = 0 %>
        <% @users.each do |a| %>
          <% if a.username == "arlinduus" %>
            <% next %>
          <% end %>
          <% if iter.even? %>
            <tr style="background: #dee2e6">  
          <% else %>
            <tr style="background: white"> 
          <% end %>
            <td><center><%= iter+=1 %></td></center>
            <td><center><%= a.first_name + " " + a.last_name %></td></center>
            <td style="width: 25px"></td>
            <td style="width: 50px; border: 0px"><center><%= link_to a do %><span class="glyphicon glyphicon-eye-open" style="color: black; font-size: 21px"></span><% end%></td></center>
            <td style="width: 50px; border: 0px"><center><%= link_to edit_user_path(a) do %> <span class="glyphicon glyphicon-pencil" style="color: black; font-size: 18px"></span><% end %></td></center>
            <td style="width: 50px; border: 0px"><center><%= link_to a, method: :delete do %>
              <span class="glyphicon glyphicon-minus" style="color: black; font-size: 20px"></span><% end %>
            </td></center>
          </tr>
        <% end %>
      </table>
    </div>
  <div>
</center>
  


<%= nested_form_for(@user)do |f|%>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel"><strong>Shto perdorues të ri</strong></h4>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
          
          <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
          
          <div class="field">
            <%= f.label :tel_number %>
            <%= f.text_field :tel_number, class: 'form-control' %>
          </div>
          
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          
          <%= f.select("kategoria", options_for_select( [ ["Admin", "admin"], ["Limited User", "limited"]]), { prompt: "Zgjedh Kategorine", multiple: false, class: "form-control" }) %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Mbylle</button>
          <%= f.submit "Shto", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>