<center>
  <table border="1">
    <tr>
      <td>
        <%= "Perdoruesit" %>
      </td>
    </tr>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>
</center>
<div>
    <center><%= link_to "New User", new_user_path, class:"btn btn-primary", style:"margin:15px" %></center>
</div>
