
<center>
<div class="row" style="max-width: 500px">
    <center>
  <div>
    <%= form_for(@import)do |f|%>
      <%= render 'shared/error_messages', object: f.object %>
    <div style="container">

        <%= f.submit "Ndrysho", class: "btn btn-primary", style: "margin-top: 15px" %><br><br>
        <%= f.label :nr_dud %>
        <%= f.number_field :nr_dud, class: 'form-control' %>
        <%= f.label :data %>
        <%= f.date_field :data, class: 'form-control' %>
        <%= f.label :data_skadimit %>
        <%= f.date_field :data_skadimit, class: 'form-control' %>
        <%= f.label :transporti %>
        <%= f.number_field :transporti, class: 'form-control', step: :any %>
        <%= f.label :nr_fatures %>
        <%= f.text_field :nr_fatures, class: 'form-control' %>
        <%= f.label :client_id, "Klienti" %>
        <%= f.select("client_id", Client.all.collect {|n| [ n.kompania,  n.id ] }, { prompt: "Select Client", multiple: false, id: "n" }, class: "form-control") %>
        <br>
        <%= f.file_field :files, multiple: true%>
      </div>
      <% end %>
</div>
    </center>
</div>
</center>