<h1 style="color:black">New Import</h1>

<div class="row" style="width:100%">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@import)do |f|%>
      <%= render 'shared/error_messages', object: f.object %>
      <div style="container">
        <%= f.label :nr_dud %>
        <%= f.text_field :nr_dud, class: 'form-control' %>
        <%= f.label :data %>
        <%= f.date_field :data, class: 'form-control' %>
        <%= f.label :transporti %>
        <%= f.number_field :transporti, class: 'form-control', step: :any %>
        <%= f.label :nr_fatures %>
        <%= f.text_field :nr_fatures, class: 'form-control' %>
        <%= f.file_field :files, multiple: true%>
        <%= f.select("client_id", Client.all.collect {|n| [ n.kompania,  n.id ] }, { prompt: "Select Client", multiple: false }) %>
        <%= f.select("dogana", Dogana.all.collect {|n| [ n.komplet_pamja,  n.komplet] }, { prompt: "Select Zyra Doganore", multiple: false }) %>
        <%= f.select("destinimi", Destinim.all.collect {|n| [ n.komplet_pamja,  n.komplet ] }, { prompt: "Select Zyra Destinimit", multiple: false }) %>
      </div>
      <div class="buttons">
        <%= f.submit "Add Import", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <%= link_to "Back", imports_path, class:"btn btn-primary" %>
</div>