<h1><%= @import.nr_dud %></h1>
<br>
<p>Data: <%= @import.data %></p>
<p>Transporti: <%= @import.transporti %> <%= "€" %></p>
<p>Fatura: <%= @import.nr_fatures %></p>
<p>Klieti: <%= @import.client.kompania %></p>
<p>Kodi i Zyres Doganore: <%= @import.kodi_doganor %></p>
<p>Zyra Doganore: <%= @import.zyra_doganore %></p>
<p>Kodi i Zyres Destinimit: <%= @import.kodi_destinim %></p>
<p>Zyra e Destinimit: <%= @import.zyra_destinim %></p>
<div class="row" style="width:100%">
  <div class="col-md-6 col-md-offset-3" style="width:53vw">
    <%= link_to "Search for Articles", article_search_path, class: "btn btn-primary" %>
    <%= render 'layouts/flash' %>
    <% unless @import.mbylled %>
      <%= nested_form_for(@import)do |f|%>
        <%= f.fields_for :import_articles do |ia| %>
          <%= render 'shared/error_messages', object: ia.object %>
          <% unless ia.object.persisted? %>
          <center><table>
            <tr>
              <div style="display: inline">
                <td width="200px">
                  <div style="text-align:center">
                    <%= ia.select("article_id", Article.all.select { |a| a.autorizims.first == Autorizim.first }.collect {|p| ["#{p.pershkrimi} - #{p.njesia}", p.id]}, { prompt: "Select Article", multiple: false}) %>
                  </div>
                </td>
                <td width="225px">
                  <%= ia.label :emertimi %>
                  <%= ia.text_field :emertimi %>
                </td>
                <td width="200px">
                  <%= ia.label :sasia, "Sasia" %>
                  <%= ia.number_field :sasia, step: :any %>
                </td>
                <td width="225px">
                  <%= ia.label :qmimi, "Qmimi" %>
                  <%= ia.number_field :qmimi, step: :any %><%= " €" %>
                </td>
                <td width="225px">
                  <%= ia.label :pesha, "Pesha" %>
                  <%= ia.number_field :pesha, step: :any %><%= " Kg" %>
                </td>
              </div>
            </tr>
          </table></center>
          <% end %>
        <% end %>
        <div class="buttons">
          <% if Article.count != 0 %>
            <%= f.submit "Add Article", class: "btn btn-primary", name: "add_article_import" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <center>
    <%= link_to "Back", imports_path, class:"btn btn-primary" %>
    <%= link_to "Gjendja", import_gjendja_path(@import), class:"btn btn-primary" %>
  </center>
</div>
<h1>Numri i Artikujve:<%= @import.articles.count %></h1>
<center><table width="100%" border="solid #333 1px">
  <tr>
    <td>
      <%= "Pershkrimi" %>
    </td>
    <td>
      <%= "Tarif Kodi" %>
    </td>
    <td>
      <%= "Emertimi" %>
    </td>
    <td>
      <%= "Kodi" %>
    </td>
    <td>
      <%= "Sasia" %>
    </td>
    <td>
      <%= "Qmimi" %>
    </td>
    <td>
      <%= "Qmimi Per Njesi" %>
    </td>
    <td>
      <%= "Qmimi Per Kg" %>
    </td>
    <td>
      <%= "Transporti Total" %>
    </td>
    <td>
      <%= "Transporti" %>
    </td>
    <td>
      <%= "Qmimi Total" %>
    </td>
    <td>
      <%= "Pesha (Kg)" %>
    </td>
    <td>
      <%= "Pesha Per Njesi" %>
    </td>
    <td>
      <%= "Lloji i Akcizes" %>
    </td>
    <td>
      <%= "Lartesia e Akcizes" %>
    </td>
    <td>
      <%= "Taksa e Akcizes" %>
    </td>
    <td>
      <%= "Lartesia e TVSH" %>
    </td>
    <td>
      <%= "Taksa e TVSH" %>
    </td>
    <td>
      <%= "Lartesia e Doganes" %>
    </td>
    <td>
      <%= "Taksa Doganore" %>
    </td>
    <td>
      <%= "Gjithsej Taksat" %>
    </td>
  </tr>
  <% @import.import_articles.each do |ia| %>
    <% i = ia.import %>
    <% a = ia.article %>
    <% if ia.valid? %>
      <tr>
        <td>
          <%= ia.article.pershkrimi %>
        </td>
        <td>
          <%= ia.article.tarif_kodi %>
        </td>
        <td>
          <%= ia.emertimi %>
        </td>
        <td>
          <%= ia.kodi %>
        </td>
        <td>
          <%= ia.sasia %> <%= ia.njesia %>
        </td>
        <td>
          <%= ia.qmimi %> <%= "€" %>
        </td>
        <td>
          <%= ia.qmimi_njesi %> <%= "€/" + "#{ia.njesia}" %>
        </td>
        <td>
          <%= ia.qmimi_kg %> <%= "€/" + "Kg" %>
        </td>
        <td>
          <%= i.transporti %> <%= "€" %>
        </td>
        <td>
          <%= ia.transport %> <%= "€" %>
        </td>
        <td>
          <%= ia.qmimi_tot %> <%= "€" %>
        </td>
        <td>
          <%= ia.pesha %> <%= "Kg" %>
        </td>
        <td>
          <%= ia.pesha_njesi %> <%= "Kg/" + "#{ia.njesia}" %>
        </td>
        <td>
          <%= ia.lloji_akcizes %>
        </td>
        <td>
          <%= ia.akciza %> <%= ia.lloji_akcizes %>
        </td>
        <td>
          <%= ia.taksa_akciza %> <%= "€" %>
        </td>
        <td>
          <%= ia.tvsh %> <%= "%" %>
        </td>
        <td>
          <%= ia.taksa_tvsh %> <%= "€" %>
        </td>
        <td>
          <%= a.dogana %> <%= "%" %>
        </td>
        <td>
          <%= ia.taksa_dogana %> <%= "€" %>
        </td>
        <td>
          <%= ia.gjithsej_taksa %> <%= "€" %>
        </td>
        <td style="text-align:center;">
          <%= link_to ia, method: :delete do %>
            <span>&#x2715;</span>
          <% end %>
        </td>
      </tr>
      
    <% end %>
    
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= @import.shuma_qmimi %> €</td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= @qm %> €</td>
  </tr>
</table></center>

<div style="float:right;margin-right:5px"><%= @taksa %></div>
<%= link_to 'Home', imports_path, class:"btn btn-primary" %>
<%= link_to 'Files', import_files_path(@import), class:"btn btn-primary" %>
<%= link_to 'Edit', edit_import_path(@import), class:"btn btn-primary" %>

<%= @import.empty? %>