<center>
  <div class="jumbotron" id="settings-tab" style="position:relative; margin-top: 20px; width: 40%">
    <div class="shape"></div>
    <p id="pi">
                      <%= link_to njesis_path do %>
                          
                          <span id="spani"><%= link_to "Njesite", nil, id: "linki_settings" %><% end %></span>
                          
                    </p>
  </div>
  <div class="jumbotron" id="settings-tab" style="position:relative; margin-top: 20px; width: 40%">
    <div class="shape"></div>
    <p id="pi">
                      <%= link_to doganas_path do %>
                          
                          <span id="spani"><%= link_to "Zyrat Doganore", nil, id: "linki_settings" %><% end %></span>
                          
                    </p>
  </div>
  <div class="jumbotron" id="settings-tab" style="position:relative; margin-top: 20px; width: 40%">
    <div class="shape"></div>
    <p id="pi">
                      <%= link_to destinims_path do %>
                          
                          <span id="spani"><%= link_to "Zyret e Destinimit", nil, id: "linki_settings" %><% end %></span>
                          
                    </p>
  </div>
  <div class="jumbotron" id="settings-tab" style="position:relative; margin-top: 20px; width: 40%">
    <div class="shape"></div>
    <p id="pi">
                      <%= link_to users_path do %>
                          
                          <span id="spani"><%= link_to "Perdoruesi", nil, id: "linki_settings" %><% end %></span>
                          
                    </p>
  </div>
  <div class="jumbotron" id="settings-tab" style="position:relative; margin-top: 20px; width: 40%">
    <div class="shape"></div>
    <p id="pi">
                      <%= link_to edit_kompani_path(Kompani.first) do %>
                          
                          <span id="spani"><%= link_to "Kompania", nil, id: "linki_settings" %><% end %></span>
                          
                    </p>
  </div>
  <div class="jumbotron" id="settings-tab" style="position:relative; margin-top: 20px; width: 40%">
    <div class="shape"></div>
    <p id="pi">
                      <%= link_to change_date_path(current_user) do %>
                          
                          <span id="spani"><%= link_to "Datat", nil, id: "linki_settings" %><% end %></span>
                          
                    </p>
  </div>
</center> 