<center>
  <center>
    <div style="margin-top:30px">
      <%= form_for "", url: import_search_url, role: "search", method: :get  do %>
        <%= date_field_tag "search[date_from]", @date_from %>
        <%= date_field_tag "search[date_to]", @date_to %>
        <%= select_tag "search[client_id]", options_from_collection_for_select(@clients, 'id', 'kompania'), {include_blank: "Select Client", multiple: false} %>
        <%= select_tag "search[article_id]", options_from_collection_for_select(@articles, 'id', 'name'), {include_blank: "Select Article", multiple: false} %>
        <%= submit_tag "Search",  class: "btn btn-primary" %>
      <% end %>
    </div>
  </center>
  
  <center>
    <div class="fatura-tabela" style="margin-top: -25px">
    <h1 style="padding-top: 25px">Importit i Artikujve</h1>
        
        <table style="margin-top: 25px">
          <tr class="hedi">
            <td style="min-width:75px"><center>#</center></td>
            <td style="min-width:75px"><center>Klienti</center></td>
            <td style="min-width:75px"><center>Data e Importit</center></td>
            <td style="min-width:75px"><center>Numri i Importit</center></td>
            <td style="min-width:75px"><center>Numri i Fatures</center></td>
            <td style="min-width:125px"><center>Emertimi</center></td>
            <td style="min-width:75px"><center>Artikulli</center></td>
            <td style="min-width:75px"><center>Sasia</center></td>
            <td style="min-width:75px"><center>Pesha</center></td>
            <td style="min-width:75px"><center>Qmimi</center></td>
          </tr>
          <% iter = 0 %>
          <% @list.each do |ep| %>
            <% if iter.even? %>
              <tr style="background: #dee2e6">  
            <% else %>
              <tr style="background: white">  
            <% end %>
              <td><center><%= iter+=1 %></td></center>
              <td style="width:75px"><center><%= ep.import.client.kompania %></center></td>
              <td style="width:75px"><center><%= ep.import.data %></center></td>
              <td style="width:75px"><center><%= ep.import.nr_dud %></center></td>
              <td style="width:75px"><center><%= ep.import.nr_fatures %></center></td>
              <td style="width:125px"><center><%= ep.emertimi %></center></td>
              <td style="width:125px; white-space: nowrap;"><center><%= ep.article.pershkrimi %></center></td>
              <td style="width:75px"><center><%= ep.sasia.round(2) %></center></td>
              <td style="width:75px"><center><%= ep.pesha.round(2) %></center></td>
              <td style="width:75px"><center><%= ep.qmimi.round(2) %> €</center></td>
            </tr>
          <% end %>
        </table>
      </div>
    <div>
  </center>
  <%= link_to "PDF", import_search_path( format: :pdf, :search => { :date_from => @date_from, :date_to => @date_to, :client_id => @client, :article_id => @article }), target: "_blank", class: "btn btn-primary", style: "margin: 15px" %> 
          <%= link_to "CSV", '/import_search.csv', class: "btn btn-primary", style: "margin: 15px" %></center>
</center>