  <center>
   <div class="row" style="margin:25px">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <center><div class="card-body">
          <h5 class="card-title">Products Report</h5>
          <p class="card-text">Generate documents for Products Report</p>
          <%= link_to "Go There", product_search_path, class: "btn btn-primary", style: "margin: 15px" %>
        </div></center>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <center><div class="card-body">
          <h5 class="card-title">State Report</h5>
          <p class="card-text">Generate documents for State Report</p>
          <%= link_to "Go There", gjendja_path, class: "btn btn-primary", style: "margin: 15px" %>
        </div></center>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <center><div class="card-body">
          <h5 class="card-title">Residue Report</h5>
          <p class="card-text">Generate documents for Residue Report</p>
          <%= link_to "Go There", mbetja_path, class: "btn btn-primary", style: "margin: 15px" %>
        </div></center>
      </div>
    </div>
  </div> 
</center>
<center>
  <div class="row" style="margin:25px">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <center><div class="card-body">
          <h5 class="card-title">Imports Report</h5>
          <p class="card-text">Generate documents for Imports Report</p>
          <%= link_to "Go There", import_search_path, class: "btn btn-primary", style: "margin: 15px" %>
        </div></center>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <center><div class="card-body">
          <h5 class="card-title">Official Report</h5>
          <p class="card-text">Generate documents for Official Report</p>
          <%= link_to "Go There", official_path, class: "btn btn-primary", style: "margin: 15px" %>
        </div></center>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <center><div class="card-body">
          <h5 class="card-title">Specifikacionet</h5>
          <p class="card-text">Generate documents for Official Report</p>
          <%= link_to "Go There", specifikacions_path, class: "btn btn-primary", style: "margin: 15px" %>
        </div></center>
      </div>
    </div>
  </div> 
  
</center>
  