
<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag "costum" -%>
    <title>Product Report - <%= Date.today.to_s %></title>
  </head>
  <body>
    <div class="pdfheader">
    <div style="display: inline-block; height: 85px;">
      <p style="font-size:15px; padding: 0px; margin: 0px"><strong>Adresa: <%= kompania.adresa %></strong></p> 
      <p style="font-size:15px; padding: 0px; margin: 0px"><strong><%= kompania.zip %> <%= kompania.qyteti %>, <%= kompania.shteti %></strong></p> 
      <p style="font-size:15px; padding: 0px; margin: 0px"><strong>Nr. Kontaktues: <%= current_user.tel_number %></strong></p> 
      <p style="font-size:15px; padding: 0px; margin: 0px"><strong>Email: <%= current_user.email %></strong></p> 
    </div>
    <div style="display: inline-block; height: 120px; width: 200px; vertical-align: top;; margin-bottom: 20px">
      <center><div style="font-size: 25px; position:absolute; vertical-align:top; left: 0; width: 100%;"><%= wicked_pdf_image_tag kompania.image_url(:thumb).to_s %></div></center>
      <center><p style="font-size: 25px; position:absolute; vertical-align:top; left: 0; width: 100%; top: 8%;"><strong><%= kompania.kompania %></strong></p></center>
    </div>
    <div style="display: inline-block; height: 120px; width: 430px; vertical-align: top">
      <div style="">
        <center>
          <% if kompania.numri_tvsh != "" %><div style=" font-size:15px; font-weight: bold; text-align: right; margin-right: 15px;">Nr. TVSH: <%= kompania.numri_tvsh %></div><% end %>
          <% if kompania.numri_fiskal != "" %><div style=" font-size:15px; font-weight: bold; text-align: right; margin-right: 15px;">Numri Fiskal: <%= kompania.numri_fiskal %></div><% end %>
          <% if kompania.numri_biznesit != "" %><div style=" font-size:15px; font-weight: bold; text-align: right; margin-right: 15px;">Numri Biznesit: <%= kompania.numri_biznesit %></div><% end %>
          <% if kompania.numri_identifikues != ""%><div style=" font-size:15px; font-weight: bold; text-align: right; margin-right: 15px;">Numri Identifikues: <%= kompania.numri_identifikues %></div> <% end %>
        </center>
      </div>
    </div>
  </div>
    <center>
        <h1> Exporti i Produkteve</h1>
      <table style="margin-top: 25px" border=2>
          <tr class="hedi">
            <td style="min-width:75px"><center>#</center></td>
            <td style="min-width:75px"><center>Klienti</center></td>
            <td style="min-width:75px"><center>Data e Eksportit</center></td>
            <td style="min-width:75px"><center>Numri i Eksportit</center></td>
            <td style="min-width:75px"><center>Numri i Fatures</center></td>
            <td style="min-width:125px"><center>Data e Fatures</center></td>
            <td style="min-width:75px"><center>Produkti</center></td>
            <td style="min-width:75px"><center>Sasia</center></td>
            <td style="min-width:75px"><center>Qmimi</center></td>
            <td style="min-width:75px"><center>Totali</center></td>
          </tr>
          <% iter = 0 %>
          <% @list.each do |ep| %>
            <% if iter.even? %>
              <tr style="background: #dee2e6">  
            <% else %>
              <tr style="background: white">  
            <% end %>
              <td><center><%= iter+=1 %></td></center>
              <td style="width:75px"><center><%= ep.export.client.kompania %></center></td>
              <td style="width:75px"><center><%= ep.export.data %></center></td>
              <td style="width:75px"><center><%= ep.export.nr_exportit %></center></td>
              <td style="width:75px"><center><%= ep.export.fatura.nr_fatures %></center></td>
              <td style="width:75px"><center><%= ep.export.fatura.data %></center></td>
              <td style="width:125px"><center><%= ep.product.pershkrimi %></center></td>
              <td style="width:75px"><center><%= ep.sasia %></center></td>
              <td style="width:75px"><center><%= ep.qmimi %> &#8364;</center></td>
              <td style="width:75px"><center><%= ep.qmimi * ep.sasia %> &#8364;</center></td>
            </tr>
          <% end %>
        </table>
    </center>
  </body>
</html>
<style>
  .hedi td{
    padding: 10px 0px 10px 0px;
  }
  .pdf-tedhena td{
    padding: 10px 0px 10px 0px;
  }
  table tr{
    margin-top: 100px;
    page-break-inside:avoid;
  }
  .fatura-niveli-trete {
    margin-top: 50px;
}
.fatura-niveli-katert {
    margin-top: 30px;
}
.fatura-niveli-katert-two {
    margin-top: 30px;
}
</style>