<head>
  <title>
    Mbetja nga Shkarkim - <%= Date.today.to_s %>
  </title>
</head>
<center>
  <%= link_to "Back", @export, class:"btn btn-primary" %>
  <%= link_to "PDF", asset_path("exports/#{@export.id}/mbetja.pdf", skip_pipeline: true), class: "btn btn-primary" %>
  <table border="4">
    <h1> Mbetja nga Shkarkim </h1>
    <tr>
      <td><center>Eksporti</center></td>
      <td><center>Importi</center></td>
      <td><center>Emertimi</center></td>
      <td><center>Tarif Kodi</center></td>
      <td><center>Kodi Artikullit</center></td>
      <td><center>Pershkrimi</center></td>
      <td><center>Njesia</center></td>
      <td><center>Sasia</center></td>
      <td><center>Pesha</center></td>
      <td><center>Qmimi Total</center></td>
      <td><center>Taksa Doganora</center></td>
      <td><center>Akciza</center></td>
      <td><center>TVSH</center></td>
      <td><center>Gjithsej Taksat</center></td>
    </tr>
    <% @hash_mbetja_export.sort_by {|x, y| x[1]}.each do |x, y| %>
      <tr>  
        <td style="width:100px"><center><%= x[3].nr_exportit %></center></td>
        <td style="width:100px"><center><%= x[2].nr_dud %></center></td>
        <td style="width:100px"><center><%= x[1] %></center></td>
        <td style="width:100px"><center><%= Article.where(kodi: x[0]).first.tarif_kodi %></center></td>
        <td style="width:100px"><center><%= x[0] %></center></td>
        <td style="width:100px"><center><%= Article.where(kodi: x[0]).first.pershkrimi %></center></td>
        <td style="width:100px"><center><%= Article.where(kodi: x[0]).first.njesia %></center></td>
        <td style="width:100px"><center><%= y[0] %></center></td>
        <td style="width:100px"><center><%= y[1] %> Kg</center></td>
        <td style="width:100px"><center><%= x[4].mbetja_qmimi_tot %></center></td>
        <td style="width:100px"><center><%= x[4].mbetja_taksa_dogana %></center></td>
        <td style="width:100px"><center><%= x[4].mbetja_taksa_akciza %></center></td>
        <td style="width:100px"><center><%= x[4].mbetja_taksa_tvsh %></center></td>
        <td style="width:100px"><center><%= x[4].mbetja_gjithsej_taksa %></center></td>
      </tr>
    <% end %>
  </table>
</center>